<!DOCTYPE html>
<html>
<head>
	<title>Nav Cmp</title>
	<link rel="stylesheet" type="text/css" href="css/ext-all.css">
	<!-- <link rel="stylesheet" type="text/css" href="css/navCmp.css"> -->
</head>
<body>
<div id="mainpanel"></div>
</body>
<script type="text/javascript" src="js/ext-all.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</html>